{% extends 'tracker/base.html'%}

{% block title %}
  View Team Stats
{% endblock %}
{% block header%}
    {{ team.name }} ({{team.num_wins}}-{{team.num_draws}}-{{team.num_losses}})
{% endblock %}

{% block content %}
  <h3> Player Stats</h3>
  <table class="player-table">
    <THEAD>
      <tr>
          <th> First Name</th>
          <th> Last Name</th>
          <th> Number</th>
          <th> Shots </th>
          <th> Blocked Shots </th>
          <th> Shots on Target</th>
          <th> GOALS </th>
          <th> Guhls </th>
          <th> ASSISTS </th>
          <th> Uhssists</th>
      </tr>
    </THEAD>
    <TBODY>
      {% for player in team.players.all %}
        <tr>
          <td> {{ player.first_name }} </td>
          <td> {{ player.last_name }} </td>
          <td> {{ player.number }} </td>
          <td> {{ player.num_shots }}</td>
          <td> {{ player.num_blocked_shots }}</td>
          <td> {{ player.num_shots_on_target }}</td>
          <td> {{ player.num_impressive_goals }}</td>
          <td> {{ player.num_not_impressive_goals }}</td>
          <td> {{ player.num_impressive_assists }}</td>
          <td> {{ player.num_not_impressive_assists }}</td>
        </tr>
      {% endfor %}
    </TBODY>
  </table>
  <h3> Team Averages </h3>
  <table class="team-stats-table">
    <THEAD>
      <tr>
        <th colspan="2"> Stat </th>
        <th colspan="2"> Wins </th>
        <th colspan="2"> Draws </th>
        <th colspan="2"> Losses </th>
        <th colspan="2"> Overall </th>
      </tr>
    </THEAD>
    <TBODY>
      <tr>
        <td colspan="2"></td>
        <td> Mean </td>
        <td> Median </td>
        <td> Mean </td>
        <td> Median </td>
        <td> Mean </td>
        <td> Median </td>
        <td> Mean </td>
        <td> Median </td>
      </tr>
      {% for row in stat_rows %}
        <tr>
          <td colspan="2"> {{ row.stat }}</td>
          <td> {{ row.win_mean }} </td>
          <td> {{ row.win_median }} </td>
          <td> {{ row.draw_mean }} </td>
          <td> {{ row.draw_median }} </td>
          <td> {{ row.loss_mean }} </td>
          <td> {{ row.loss_median }} </td>
          <td> {{ row.overall_mean }} </td>
          <td> {{ row.overall_median }} </td>
        </tr>
      {% endfor %}
      <tr>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
        <td class="invisible_row"></td>
      </tr>
  </table>
{% endblock %}