.layout-center {
    text-align: center;
}

.dropdown-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-dropdown {
    width: 300px;
    text-align: center;
}

.submit-button {
    width: 80px;
    margin: auto;
}

body h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.single_field_form_button {
    width: 80px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; 
}

.player-table, .team-stats-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

table.player-table THEAD tr th {
    width: 130px;
    border: solid 2px lightgrey
}

table.player-table TBODY tr td {
    width: 130px;
    border: solid 2px lightgrey
}

table.team-stats-table THEAD tr th, table.team-stats-table TBODY tr td {
    width: 260px;
    border: solid 2px lightgrey
}

table.team-stats-table TBODY tr td.invisible_row {
    width: 130px;
    border: None
}

.minute {
    font-weight: bold;
}

.event {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.play_game_section_header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.play_game_container {
    padding-left: 20px;
}

.form_container {
    border-left: solid;
    border-right: solid;
    border-top: solid;
    padding: 20px;
    width: auto;
}

.bottom_form_container {
    border-bottom: solid;
}

.corner_form_container {
    width: 200px;
}

.play_game_button {
    margin-top: 10px;
}