h1 {
    text-align: center;
}

.layout-center {
    text-align: center;
}

.dropdown-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-dropdown {
    width: 300px;
    text-align: center;
}

.submit-button {
    width: 80px;
    margin: auto;
}

.single_field_form_header {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; 
}

.single_field_form_button {
    width: 80px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; 
}

.player-table, .team-stats-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

table.player-table THEAD tr th {
    width: 130px;
    border: solid 2px lightgrey
}

table.player-table TBODY tr td {
    width: 130px;
    border: solid 2px lightgrey
}

table.team-stats-table THEAD tr th, table.team-stats-table TBODY tr td {
    width: 260px;
    border: solid 2px lightgrey
}

table.team-stats-table TBODY tr td.invisible_row {
    width: 130px;
    border: None
}