.layout-center {
    text-align: center;
}

.dropdown-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-dropdown {
    width: 300px;
    margin: 15px auto;
    text-align: center;
}

.submit-button {
    width: 80px;
    margin: auto;
}